body {
    background-color: black;
    color: #00cc00;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    text-align: center;
    color: #00cc00;
    margin-top: 5%;
}

h2 {
    color: #009900;
    margin-bottom: 5px;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10vh;
}

pre {
    text-align: center;
    color: #00cc00;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 30px;
}

.section-content {
    background-color: #101210;
    padding: 10px;
    border-left: 5px solid #009900;
    white-space: pre-line;
    color: #009900;
}

.after-email {
    display: inline-block;
    text-indent: 25px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

a {
    color: #00aa00;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.section-content div {
    display: flex;
    justify-content: flex-start;
}

.section-content div span {
    width: 30px;
    display: inline-block;
}

footer {
    text-align: center;
    font-size: 0.9em;
    margin-top: auto;
    color: #009900;
    padding: 10px;
    position: fixed; /* Stopka jest zawsze na dole */
    bottom: 0;
    left: 0;
    width: 100%; /* Pełna szerokość stopki */
    background-color: black;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    pre {
        font-size: 12px;
    }

    .container {
        padding-top: 5vh; /* Mniejszy odstęp na górze na telefonach */
    }

    .section {
        margin-bottom: 15px; /* Zmniejszenie przerwy między sekcjami */
    }

    footer {
        padding: 5px;
        font-size: 0.8em; /* Mniejsza stopka na mniejszych ekranach */
    }
}
