body {
    background-color: black;
    color: lightslategray;
    font-family: monospace;
    font-size: x-large;
}

.text {
    padding-left: 10px;
}

.container {
    /* height: auto */
}

.terminal {
    
    --size: 1.8;
    --color: lightslategray;
    /* --background: green;     */
}