body {
    background-color: black;
    color: lightslategray;
    font-family: monospace;
    font-size: x-large;
}

.text {
    padding-left: 10px;
}

.container {
    width: fit-content;
    height: fit-content;
}

.terminal {
    --size: x-large;
    --color: lightslategray;
}